<h2>Assistenz</h2>
<div class="content-scroller">
	<img class="team-foto" src="images/team/Zittlau.jpg" alt="André Zittlau" />
	<h5>André Zittlau</h5>

	<p>Maler- und Lackierermeister<br/>
	geb. 1966 in Berlin, verheiratet, 2 Kinder<br/>
	35 Jahre Berufserfahrung</p>

	<p>Seit 2012 Assistent der Geschäftsleitung und Ihr kompetenter Ansprechpartner im Büro und auf der Baustelle.</p>

	<p>Die Aufgabe:<br>
	Die umfassende Unterstützung der Geschäftsleitung in allen Bereichen der täglichen Organisation vom Erstkontakt über die Baustellenorganisation bis zur Kundenbetreuung nach einer Auftragsfertigstellung.</p>

	<p>Mein Ziel:<br>
	Ich will, dass Sie von uns einfach richtig begeistert sind!</p>
</div>