<h2>Chronik</h2>
<div class="content-scroller">
	<dl class="company-chronicle">
		<dt>10. Aug. 1901</dt>
		<dd>Gründung des Malerbetriebes "Fritz Reuter Malerbetrieb" in der Wolfhagerstr. 19 in Kassel durch Fritz Reuter. Der gelernte Maler Fritz Reuter war es leid, täglich von seinem Wohnort Breitenbach zu seiner Arbeitsstätte nach Kassel zu laufen, nahm Frau und Kinder und machte sich allein in Kassel selbstständig.</dd>
		<dt>1904</dt>
		<dd>Erstmalige Erwähnung des Malerbetriebes im Kasseler Adressbuch.</dd>
		<dt>1911</dt>
		<dd>Wahl von Fritz Reuter in den Malerinnungsvorstand.</dd>
		<dt>1912</dt>
		<dd>Umzug des Firmensitzes in die Gießbergstr. 47 in Kassel.<br>
		In den 11 Jahren Firmenbestehens ist der Betrieb zu einem der größten in Kassel gewachsen.</dd>
		<dt>1916</dt>
		<dd>Wahl von Fritz Reuter zum Obermeister der Malerinnung.<br>
		Bis 1931 leitete Fritz Reuter die Malerinnung als Obermeister. Am 10. Jun. 1931 wird er zum Ehrenobermeister ernannt.</dd>
		<dt>1919</dt>
		<dd>Fritz Reuter regt die Gründung der Malereinkaufsgenossenschaft (später VEMA) in Kassel an und ist Gründungsmitglied. Seine Tochter Otti Reuter wird Geschäftsführerin der Malereinkaufsgenossenschaft und besetzt diesen Posten fast 35 Jahre (bis 1955).</dd>
		<dt>1919</dt>
		<dd>Der Betrieb beginnt mit der Ausbildung von Malergesellen.</dd>
		<dt>1919</dt>
		<dd>Eintritt von Sohn Georg Reuter in den Malerbetrieb. 2. Generation!<br>
		Der Betrieb wird in Fritz Reuter &amp; Sohn umfirmiert und gemeinsam von Fritz und Georg Reuter geleitet.</dd>
		<dt>1920</dt>
		<dd>Umzug der Werkstatt in die Schillerstr. 12 in Kassel.</dd>
		<dt>1927</dt>
		<dd>Umzug des Firmensitzes in die Ludwigstr. 8 in Kassel.<br>
			Der Betrieb vergrößert sich und beschäftigt mehr als 40 Maler.</dd>
		<dt>1935</dt>
		<dd>Fritz Reuter stirbt.<br>
		Der Betrieb wird von Georg Reuter erfolgreich weitergeführt.</dd>
		<dt>1936-1938</dt>
		<dd>Die Mitarbeiterzahl wächst auf 45 Maler und zahlreiche Auszubildende an.<br>
		Reuter &amp; Sohn erhält den Auftrag die weißen Striche auf der neugebauten Autobahn A7 Richtung Göttingen "per Hand" zu ziehen und zählt mit dieser Mitarbeiterzahl zu den 3 größten Malerbetrieben in Kassel.</dd>
		<dt>1937</dt>
		<dd>Erwerb des Grundstücks in der Mombachstr. 23-25, Georg Reuter baut ein Wohnhaus und eine Werkstatt - der neue Firmensitz ist da! Noch heute befindet sich in der Mombachstr. 23 der Firmensitz des Traditionsunternehmens.</dd>
		<dt>1943</dt>
		<dd>Im Oktober fällt der Firmensitz beim Luftangriff auf Kassel den Bomben zum Opfer und wird völlig zerstört.<br>
		Die Familie wird nach Witzenhausen evakuiert. Dort gründet Georg Reuter aus der Not einen neuen Malerbetrieb. Parallel beginnt er mit dem Wiederaufbau des Firmensitzes in Kassel.</dd>
		<dt>1944</dt>
		<dd>Der teilweise wieder aufgebaute Firmensitz wird nochmals beim Angriff auf Kassel völlig zerstört.</dd>
		<dt>1947</dt>
		<dd>Der Wiederaufbau des Kasseler Firmensitzes ist soweit fortgeschritten, dass Georg Reuter mit seiner Familie wieder nach Kassel umziehen und seine Geschäftstätigkeit wiederaufnehmen und aufbauen kann.<br>
		Der aus der Not geborene Malerbetrieb in Witzenhausen wird an Malermeister Gustav Dietrich übergeben, der ihn erfolgreich weiterführt.</dd>
		<dt>1948</dt>
		<dd>Eintritt des ältesten Sohnes Fritz Reuter jun. in den Familienbetrieb. 3. Generation!</dd>
		<dt>1950-1960</dt>
		<dd>Aufbau einer Schriftmalerei.<br>
		Die Schriftmalerei wurde neben den üblichen Maler- und Tapezierarbeiten betrieben. Es sind dort 3-4 Maler tätig. Insgesamt beschäftigt der Betrieb in dieser Zeit ca. 35 Maler.</dd>
		<dt>1955</dt>
		<dd>Meisterprüfung von Fritz Reuter jun. in Kassel.<br>
		Bis zu seiner Meisterprüfung erlernte Fritz Reuter jun. den Malerberuf im Familienbetrieb sowie ein Jahr bei Kunst- und Kirchenmaler Gustav Wittig als Volontär. Darüber hinaus absolvierte er 3 Semester Werkkunstschule in Kassel und arbeitete ein Jahr in Bern/Schweiz sowie ein Jahr in Paris (1954 kehrte er wieder nach Kassel zurück).</dd>
		<dt>1958</dt>
		<dd>Eintritt von Fritz Reuter jun. in die Geschäftsleitung.<br>
		Er führt das Unternehmen zusammen mit seinem Vater Georg.</dd>
		<dt>1961</dt>
		<dd>Georg Reuter stirbt.<br>
		Der Betrieb wird von Fritz Reuter jun. erfolgreich weitergeführt.</dd>
		<dt>1965</dt>
		<dd>Ernennung von Fritz Reuter jun. zum öffentlich bestellten und vereidigten Sachverständigen für das Maler- und Lackiererhandwerk von der Handwerkskammer Kassel.<br>
		Bis 31. Dez. 1999 (über 35 Jahre) übt Fritz Reuter jun. dieses Amt erfolgreich aus! Darüber hinaus war er jahrelang ehrenamtlich im Gesellen- und Meisterprüfungsausschuss tätig.</dd>
		<dt>1968</dt>
		<dd>Meisterprüfung von Otto Reuter in Kassel.<br>
		Bis zu seiner Meisterprüfung war Otto Reuter als Geselle im Familienunternehmen tätig.</dd>
		<dt>1968</dt>
		<dd>Eintritt von Otto Reuter in die Geschäftsleitung.<br>
		Der Malerbetrieb wird ab jetzt gemeinsam von beiden Brüdern Fritz jun. und Otto geleitet. Der Betrieb hat in dieser Zeit ca. 30 Maler und einige Auszubildende.</dd>
		<dt>1972</dt>
		<dd>Umfirmierung des Betriebes in Fritz Reuter &amp; Sohn GmbH.</dd>
		<dt>1985</dt>
		<dd>Eintritt von Frank Reuter, Sohn von Fritz Reuter jun., in den Familienbetrieb. 4. Generation!<br>
		Frank Reuter hat den Malerberuf bereits von 1983-1885 im Malerbetrieb Berghoff Reuter in Kassel erlernt und ist bis 1990 als Malergeselle im Betrieb tätig.</dd>
		<dt>1988</dt>
		<dd>Otto Reuter wird Kassenprüfer bei der Maler- und Lackiererinnung Kassel.<br>
		Er begleitet dieses Amt noch heute.</dd>
		<dt>1990-1992</dt>
		<dd>Weiterbildung von Frank Reuter zum staatlich geprüften technischen Fachwirt der Fachrichtung Farbe sowie zum Maler- und Lackierermeister an der Akademie für handwerkliche Berufe in Stuttgart.</dd>
		<dt>1992</dt>
		<dd>Eintritt von Frank Reuter in die Geschäftsleitung.</dd>
		<dt>1993</dt>
		<dd>Fritz Reuter jun. geht in den Ruhestand.<br>
		Das Unternehmen wird jetzt gemeinsam von Otto und Frank Reuter weitergeführt. Der Betrieb hat ca. 20 Mitarbeiter.</dd>
		<dt>1999</dt>
		<dd>Ernennung von Frank Reuter zum öffentlich bestellten und vereidigten Sachverständigen für das Maler- und Lackiererhandwerk von der Handwerkskammer Kassel (Eignungsprüfung in Berlin absolviert). Neben der Sachverständigentätigkeit ist Frank Reuter seit 1999 ehrenamtlich im Gesellenprüfungsausschuss und als Ehrenamtlicher Richter beim Arbeitsgericht in Kassel tätig.</dd>
		<dt>Seit 1999</dt>
		<dd>Das Unternehmen Fritz Reuter &amp; Sohn GmbH wird mit dem Gütesiegel "Ausgezeichneter Ausbildungsbetrieb" vom Landesinnungsverband Hessen ausgezeichnet.</dd>
		<dt>2001</dt>
		<dd>Otto Reuter geht in Pension.</dd>
		<dt>Seit 1. Jul. 2001</dt>
		<dd>Frank Reuter führt den Betrieb in der 4. Generation allein weiter.</dd>
		<dt>2008</dt>
		<dd>Frank Reuter wird in den Innungsvorstand der Malerinnung Kassel gewählt.</dd>
		<dt>2009</dt>
		<dd>Frank Reuter wird in den Prüfungsausschuss der Meisterprüfungs-kommission berufen.</dd>
		<dt>Ausblick</dt>
		<dd>Frank Reuter plant in dieser konjunkturell schwierigen Marktlage das Unternehmen weiterhin qualitativ auszubauen. Die Auszubildenden und Malergesellen werden hierfür verstärkt durch interne und externe Schulungen kontinuierlich, den Marktanforderungen entsprechend, weitergebildet. Dies gilt nicht nur für alle Praxisaufgaben an der Baustelle, sondern ebenso für die Verhaltensweisen im Umgang mit Kunden.</dd>
	</dl>
</div>
