<h2>Partner</h2>
<div class="content-slider">
	<ul class="sliding-list">
		<li class="slided-middle">
			<a href="http://www.brillux.de" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Die Brillux Website hält jede Menge Informationen für Sie bereit: Technische Hinweise, Datenblätter, den kompletten Produktkatalog, aber auch besondere Features wie das Fachbegriffelexikon oder die Möglichkeit, jeden einzelnen Scala Farbton als Muster anzufordern."><img src="images/partner/Logo_Brillux.gif" class="partner-image-half" alt="Brillux" /></a>
		</li>
		<li class="slided-right">
			<a href="http://www.caparol.de" target="_blank"  data-toggle="tooltip" data-placement="bottom" title="Weitere Infos über Caparol finden Sie hier."><img src="images/partner/Logo_Caparol.jpg" class="partner-image-half" alt="Caparol" /></a>
		</li>
		<li class="slided-preright">
			<a href="http://www.sikkens.de" target="_blank"  data-toggle="tooltip" data-placement="bottom" title="Weiter Infos über die Marke &quot;Sikkens&quot; und dem Inhaber &quot;Akzo Nobel Coatings International B.V.&quot; finden Sie hier."><img src="images/partner/Logo_Sikkens.gif" class="partner-image-half" alt="Sikkens" /></a>
		</li>
		<li>
			<a href="http://www.schaefer-tapeten.de" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Weitere Infos über Schäfer finden Sie hier."><img src="images/partner/Logo_Schaefer.jpg" class="partner-image-half" alt="Schäfer-Tapeten" /></a>
		</li>
		<li>
			<a href="http://www.marburg.com" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Weitere Infos über &quot;Marburg&quot; finden Sie hier."><img src="images/partner/Logo_Marburg.jpg" class="partner-image-half" alt="Marburg" /></a>
		</li>
		<li>
			<a href="http://www.rasch.de" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Weitere Infos über &quot;Rasch&quot; finden Sie hier."><img src="images/partner/Logo_Rasch.gif" class="partner-image-half" alt="Rasch" /></a>
		</li>
		<li>
			<img src="images/partner/weigel.jpg" class="partner-image-half" alt="Weigel" data-toggle="tooltip" data-placement="bottom" title="Sie suchen weitere Infos über die Firma Weigel. Kein Problem, bitte sprechen Sie uns einfach an."/>
		</li>
		<li>
			<a href="http://www.waba.de" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Weitere Infos über WABA finden Sie hier."><img src="images/partner/Logo_Waba.png" class="partner-image-full" alt="Waba" /></a>
		</li>
		<li class="slided-preleft">
			<a href="http://www.geruestbau-heinz-herwig.de" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Weitere Infos über Gerüstbau Heinz Herwig finden sie hier." class="heinz-herwig">
				Gerüstbau Heinz Herwig GmbH
			</a>
		</li>
		<li class="slided-left">
			<a href="http://www.bts-kassel.de" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Weitere Infos über BTS finden Sie hier."><img src="images/partner/Logo_BTS.png" class="partner-image-half" alt="BTS" /></a>
		</li>
	</ul>
</div>
