<h2>Unsere Kunden</h2>
<div class="content-scroller">
	<p>Wir übernehmen für unser Handeln die Verantwortung zu 100%. Das gilt für jetzt und für die Zukunft.</p>
	<p>Diese Verantwortung verpflichtet gegenüber unseren Kunden alles zu geben. Es ist unser Ziel, Leistungen von bester Qualität, höchstem Nutzen und Wirtschaftlichkeit zu bieten.</p>
	<p>Hier ein kleiner Auszug von Auftraggebern, für die wir die Gestaltung Ihrer Wünsche erfolgreich umsetzen konnten:</p>

	<ul class="customers-list nondeco-list">
<%	customers.forEach(function(cust) { %>
		<li>
<%		cust.imgUrls.forEach(function(imgUrl) { %>
			<img src="images/unsere_kunden/<%= imgUrl %>" alt="<%= cust.alt %>" />
<%		}); %>
			<p class="<%= (cust.imgUrls.length == 1) ? 'desc-right' : 'desc-bottom' %>"><% if (cust.job) { %><%= cust.job %><br><% } %><%= cust.name %></p>
		</li>
<%	}); %>
</div>
