<svg id="<%= id %>" class="values-animation" viewBox="0 0 550 370" xmlns="http://www.w3.org/2000/svg"
		fill="none" stroke="<%= color %>" stroke-linecap="round" stroke-linejoin="round">
    <defs>
        <mask id="<%= id %>-mask">
		   	<image x="0" y="0" width="100%" height="100%" xlink:href="<%= mask %>"></image>
        </mask>
    </defs>
   	<g mask="url(#<%= id %>-mask)">
<%
var letter, length, totalLength, dashArray, pathSpeed = 0;
var delay = 0;
// var initialX = 0.4;
// var initialY = 6;
var initialX = 1.2;
var initialY = 7.2;

var x = initialX;
var y = initialY;
for (var i=0; i < text.length; i++) {
	letter = text[i];

	switch (letter) {
		case '\n':
			y += lineHeight;
			x = initialX;
			break;
		case '\t':
			x = +(Math.ceil(x / tabWidth) * tabWidth).toFixed(3);
			break;
		case ' ':
			x = +(x + font[' '].width).toFixed(3);
			break;
		default:
			numVectorSets = font[letter].vectors.length;
			totalLength = font[letter].vectors.reduce(function(prev, vector) {
				return prev + vector.length;
			}, 0);
			font[letter].vectors.forEach(function(vector) {
				delay += pathSpeed;
				pathSpeed = +(vector.length / speed * 1000).toFixed(0);
				//pathSpeed = +(vector.length / totalLength * speed).toFixed(0);
				dashArray = (vector.length + 1) + ',' + (vector.length + 1)
%>
			<path class="handwriting" stroke-width="<%= vector.strokeWidth %>" stroke-dashoffset="<%= vector.length + 1 %>" stroke-dasharray="<%= dashArray %>" style="transition-duration:<%= pathSpeed + 'ms'%>;transition-delay:<%= delay + 'ms'%>" d="<%= 'M ' + x + ',' + y + ' ' + vector.path %>"></path>
<%
			});
			x = +(x + font[letter].width).toFixed(3);
			break;
	}
}
%>
	</g>
</svg>
