<p>abcdefghijklmnoöpqrstuüvwxyzAÄBCDEFGHIJKLMNOÖPQRSTUÜVWXYZ1234567890</p>

<svg id="<%= id %>" width="550" height="370" xmlns="http://www.w3.org/2000/svg" stroke-linecap="round" stroke-linejoin="round">
    <defs>
        <mask id="usere-werte-maske-3">
		   	<image x="0" y="0" width="100%" height="100%" xlink:href="/images/unsereWerte3.svg"></image>
        </mask>

        <text id="Text" width="300" height="300" x="0" y="14.7" font-size="24" font-family="StanHand" text-anchor="start"><%= text %></text>
    </defs>

   	<image x="0" y="0" width="100%" height="100%" xlink:href="/images/test.svg"></image>

   	<g mask="wurl(#usere-werte-maske-3)">
<%
var letter, length, tabs, totalLength, pathSpeed = 0;
var delay = 0;
//var x = 1, y = 6.6;
var x = 0.2, y = -3.6;
for (var i=0; i < text.length; i++) {
	letter = text[i];
	if (letter == '/n') {
		y += lineHeight;
		x = 0;
	} else if (letter == '/t') {
		tabs = x % 50;
		x = ++tabs * tabWidth;
	} else {
		numVectorSets = font[letter].vectors.length;
		totalLength = font[letter].vectors.reduce(function(prev, vector) {
			return prev + vector.length;
		}, 0);
		font[letter].vectors.forEach(function(vector) {
			delay += pathSpeed;
			pathSpeed = +(vector.length / totalLength * speed).toFixed(0);

%>
			<path opacity="0.5" fill="none" stroke="red" stroke-width="<%= vector.strokeWidth %>" stroke-linecap="<%= vector.lineCap ? vector.lineCap : 'round' %>" stroke-dashoffset="<%= vector.length %>" stroke-dasharray="<%= vector.length + ',' + vector.length %>" style="<%= 'transition:stroke-dashoffset ' + pathSpeed + 'ms ' + delay + 'ms linear' %>" d="<%= 'M ' + x + ',' + y + ' ' + vector.path %>"></path>
<%
		});
		x += font[letter].width;
	}
}
%>
	</g>


</svg>

<!-- 	<rect width="100%" height="100%" fill="red" mask="url(#usere-werte-maske-3)" />
    <use xlink:href="#Text" fill="<%= color %>" mask="surl(#handwritingMask)"/> -->