<h2>Stellenausschreibung</h2>
<div class="content-scroller">
    <p>Nur zufriedene Mitarbeiter können Kunden begeistern ...</p>
    <p>Als kundenorientiertes Handwerksunternehmen suchen wir Mitarbeiter, die bereit sind, ihre Zukunft in die Hand zu nehmen.</p>
    <p>Sie bringen qualifiziertes Fachwissen, die Bereitschaft ihr Umfeld zu begeistern und zu bereichern. Wir bieten ein klasse Team, bedarfsgerechte Weiterbildung und sichern somit einen hohen Grad der Arbeitszufriedenheit.</p>
    <p>Wir suchen zum weiteren Ausbau unserer Marktposition:<br />
    <strong>Maler- und Lackierergesellen</strong></p>
    <br />
    <em>Ihre Aufgaben:</em>
    <ul class="task-list">
        <li>Ausführung aller üblichen Maler-und Lackiererarbeiten.</li>
        <li>Wissen und Können von Tapezierarbeiten (Textil-, Metall-, Designtapeten)</li>
        <li>Erfahrung in Bodenbelags-arbeiten: Teppich, Laminat, PVC, Linolium usw.</li>
        <li>Wärmedämmarbeiten mit Edelkratzputz und anderes...</li>
        <li>Maltechniken wie Lasur-, Schwamm- oder Glättetechnik.</li>
    </ul>
    <em>Ihr Profil:</em>
    <ul class="profile-list">
        <li>Sie haben eine tätigkeitsbezogene Ausbildung und eine mehrjährige Berufserfahrung im beschriebenen Aufgabengebiet.</li>
        <li>Jeder Ihrer Kundenkontakte trägt durch Pünktlichkeit, Sauberkeit, Freundlichkeit und Einsatzfreude dazu bei, unsere Kunden zu begeistern.</li>
    </ul>
    <em>Unser Angebot:</em>
    <ul class="offer-list">
        <li>Entscheidungskompetentes Arbeiten in einem innovativen Team mit hervorragenden Prognosen für eine sichere Zukunft.</li>
        <li>Leistungsgerechtes Einkommen.</li>
        <li>Möglichkeit zur permanenten Weiterbildung auf allen Fachgebieten und Förderung der eigenen Persönlichkeit.</li>
        <li>Ideale Arbeitsbedingungen die sicherstellen, dass Ihr Image von Qualitätsarbeit geprägt wird.</li>
        <li>Eintrittsdatum zum nächst möglichen Termin.</li>
    </ul>
</div>
