<h2>Stellenausschreibung</h2>
<div class="content-scroller">
    <img src="/images/kontakt/ausbild.gif" class="guetesiegel">
    <p>Suchen Sie einen Ausbildungsplatz im Maler- und Lackiererhandwerk? <a href="#/kontakt/kontakt-impressum">Senden Sie uns Ihre Bewerbungsunterlagen</a>.</p>
    <h5>Beste Referenzen:</h5>
    <p>Das Unternehmen Fritz Reuter und Sohn GmbH wurde ausgezeichnet mit dem Gütesiegel des Verbandes "Farbe Gestaltung Bautenschutz" für herausragende Leistungen bei der Lehrlingsausbildung</p>
    <p>Nur zufriedene Azubis können Kunden begeistern ...</p>
    <p>Als kundenorientiertes Handwerksunternehmen suchen wir Auszubildende, die bereit sind, ihre Zukunft in die Hand zu nehmen.</p>
    <p>Sie haben eine qualifizierte Schulbildung, die Bereitschaft ihr Umfeld zu begeistern und zu bereichern. Wir bieten ein tolles Team, bedarfsgerechte Aus- und Weiterbildung und sichern somit einen hohen Grad Ihrer Arbeitszufriedenheit.</p>
    <p>Wir suchen zum weiteren Ausbau unserer Marktposition:
        <br />
        <strong>Auszubildende/r Maler- und Lackierer</strong>
    </p>
    <br />
    <em>Ihre Aufgaben:</em>
    <ul class="profile-list">
        <li>Mit Ihrem Auftreten wollen Sie unsere Kunden begeistern.</li>
    </ul>
    <em>Sie werden in folgenden Bereichen ausgebildet:</em>
    <ul class="task-list">
        <li>Ausführung aller üblichen Maler- und Lackiererarbeiten</li>
        <li>Tapezier- und Wandbelagklebearbeiten</li>
        <li>Untergrundfachwissen und alle Untergrundvorbehandlungsmethoden sowie die darauffolgenden Beschichtungen</li>
        <li>Modernisierung von Innenräumen mit höchsten Kundenanforderungen</li>
    </ul>
    <em>Ihr Profil:</em>
    <ul class="profile-list">
        <li>Sie haben eine solide Schulbildung mit mindestens einem guten Abschluss der Hauptschule.</li>
        <li>Sie sind handwerklich geschickt.</li>
        <li>Sie sind lernwillig.</li>
        <li>Jeder Ihrer Kundenkontakte trägt durch Sauberkeit, Freundlichkeit und Einsatzfreude dazu bei, unsere Kunden zu begeistern.</li>
    </ul>
    <em>Unser Angebot:</em>
    <ul class="offer-list">
        <li>Arbeitsfreude in einem tollen Team.</li>
        <li>Übernahme bei entsprechender Qualifikation und Bereitschaft.</li>
        <li>Permanente Weiterbildung auf allen Fachgebieten und Förderung der eigenen Persönlichkeit.</li>
        <li>Ideale Arbeitsbedingungen die sicherstellen, dass Ihr Image von Qualitätsarbeit geprägt wird.</li>
        <li>Eintrittsdatum zum 01.August eines jeden Jahres.</li>
    </ul>
</div>
