<h2>Assistenz</h2>
<div class="content-scroller">
	<img class="team-foto" src="images/team/Bohnhardt.jpg" alt="Silke Bohnhardt" />
	<h5>Silke Bohnhardt</h5>

	<p>geboren 1964, 1 Kind<br>
	25 Jahre Berufserfahrung</p>

	<p>…stets ein Lächeln im Gesicht und immer gerne für Sie da!</p>

	<p>Seit dem 01.10.2008 Ihre Ansprechpartnerin im Büro und auch auf der Baustelle vor Ort.</p>

	<p>Die Aufgabe:<br>
	Die kompetente Unterstützung von Frank Reuter bei der täglichen Organisation und Koordination sowie die Abwicklung des allgemeinen Geschäftsbetriebes.</p>

	<p>Mein Ziel:<br>
	Ich will, dass Sie als unsere Kunden begeistert sind!</p>

	<p>Mein Lieblingszitat:<br>
	<blockquote><p>Gib mir die Gelassenheit, Dinge hinzunehmen, die ich nicht ändern kann; gib mir den Mut, Dinge zu ändern, die ich zu ändern vermag und gib mir die Weisheit, das eine vom andern zu unterscheiden.</p>
	<small>Friedrich Oetinger (1702-82), dt. luth. Theologe</small></blockquote></p>
</div>