<h2>Frank Reuter</h2>
<div class="content-scroller">
	<img class="team-foto" src="/images/team/FReuter.jpg" alt="Frank Reuter" />
	<p>Malermeister<br>
	geboren 1965<br>
	verheiratet, 2 Kinder</p>

	<p>Handwerkliches Gefühl, Verstand und das verantwortungsbewusste Planen aller Arbeitsabläufe bis ins Detail, mit dem Ziel die wirtschaftlich langfristigsten Ergebnisse für unsere Kunden zu schaffen – das sind die Grundlagen des täglichen Handels von Frank Reuter.</p>

	<p>Kurz:<br>
	Ästhetik – Vernunft – Zukunftsorientiert</p><br>

	<h5>Entwicklung</h5>
	<p>Nach der Lehre zum Maler- und Lackierergesellen erweiterte Frank Reuter sein Wissen auf der Akademie für Betriebsmanagement in Stuttgart. Die zweijährige Vollzeit-Ausbildung zum Malermeister und staatlich geprüften technischen Fachwirt der Fachrichtung Farbe wurde bereits im Jahre 1992 erfolgreich abgeschlossen.</p>

	<p>Sein weiteres großes Interesse für Technik und das ausgeprägte Empfinden für Ästhetik waren der Grundstein für die Weiterentwicklung bis zum öffentlich bestellten und vereidigten Sachverständigen für das Maler- und Lackiererhandwerk. Mit Auszeichnung wurde die Prüfung in Berlin bestanden. Die permanente Präsenz, Erreichbarkeit und damit Ansprechbarkeit von Frank Reuter gibt unseren Kunden die notwendige Sicherheit bis zur Fertigstellung.</p>

</div>
