/**
 * Tiles in the grid
 */


// the grid
.tile-table {
	position: relative;
	margin: 0 auto;
	@media (min-width: $screen-lg-min) {
		top: 10%;
		width: $tile-width-lg * 8 + $tile-border-width;
		height: $tile-width-lg * 6 + $tile-border-width;
		.blind {
			width: $tile-width-lg + $tile-border-width;
			height: $tile-width-lg + $tile-border-width;
		}
	}
	@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
		top: 10%;
		width: $tile-width-md * 8 + $tile-border-width;
		height: $tile-width-md * 6 + $tile-border-width;
		.blind {
			width: $tile-width-md + $tile-border-width;
			height: $tile-width-md + $tile-border-width;
		}
	}
	@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
		top: 10%;
		width: $tile-width-sm * 8 + $tile-border-width;
		height: $tile-width-sm * 6 + $tile-border-width;
		.blind {
			width: $tile-width-sm + $tile-border-width;
			height: $tile-width-sm + $tile-border-width;
		}
	}
	@media (max-width: $screen-xs-max) {
		top: 0;
		width: $tile-width-xs * 8 + $tile-border-width;
		height: $tile-width-xs * 5 + $tile-border-width;
		.blind {
			width: $tile-width-xs + $tile-border-width;
			height: $tile-width-xs + $tile-border-width;
		}
	}
	border: 0px $tile-border-color solid;
	border-left-width: $tile-border-width;
	border-bottom-width: $tile-border-width;
	background-size: cover;
}

// a row of the grid
.tile-row {
	@media (max-width: $screen-xs-max) {
		height: percentage(1/5);
	}
	height: percentage(1/6);
	width: 100%;
}

// a tile
.tile {
	position: relative;
	width: 12.5%;
	height: 100%;
	float: left;
	border: 0px $tile-border-color solid;
	border-top-width: $tile-border-width;
	border-right-width: $tile-border-width;
}

// a tile with just a horizontal border
.tile-row-span {
	@extend .tile;
	border-right-width: 0;
}

// tiles that get content overlayed
.content-tile {
	background-color: rgba(255,255,255,0.8);
	border-top-color: rgba(233, 233, 233, 0.5);
	border-right-color: rgba(233, 233, 233, 0.5);
}

// a blind tile to hide/reveal the table
.blind {
	position: absolute;
	top: 0;
	left: 0;
	background-color: $grid-background-color;
	opacity: 1;
	z-index: 100;
	@include rotateY(0deg);
	@include transition(all 2s);
	border: $tile-border-color 1px solid;
}
