.team-foto {
	display: inline;
	width: 127px;
	height: 176px;
	float: right;
	// border: 1px solid black;
	border-radius: 5px;
	@include box-shadow(0 0 20px 3px darkgray);
	margin: 0 0 30px 30px;
}

.team-list {
	display: block;
	min-height: 208px;
	margin-bottom: 40px;
}

.company-chronicle {
	dt {
		width: 20%;
		float: left;
	}
	dd {
		width: 80%;
		float: left;
		margin-bottom: 15px;
	}
}

.nondeco-list {
	list-style-type: none;
	padding: 0;
}

.partner-image-half {
	width: 40%;
	margin: 30px 0;
	border: black 1px solid;
}

.partner-image-full {
	width: 90%;
	margin: 30px 0;
	border: black 1px solid;
}

.heinz-herwig {	
	color: #B61B06;
	font-family: arial;
	font-size: x-large;
	&:hover {
		color: #B61B06;
		text-decoration: underline;
	}
}

#ohne-uns-vid, #lebensaufgabe-vid {
	height: 85%;
}