$screen-multiplicator: 96px;
$screen-xs-factor: 5; // 480px for a 480px screen
$screen-sm-factor: 6; // 576px for a 768px screen
$screen-md-factor: 8; // 768px for a 992px screen
$screen-lg-factor: 10; // 960px for a 1200px+ screen


$color-customers: #3399CA;
$color-work: #679A00;
$color-contact: #9868CC;
$color-values: #FF9934;
$color-aboutus: #CC0000;

%bg-customers {
    background-color: $color-customers;
}
%bg-work {
    background-color: $color-work;
}
%bg-contact {
    background-color: $color-contact;
}
%bg-values {
    background-color: $color-values;
}
%bg-aboutus {
    background-color: $color-aboutus;
}

%bg-semi-customers {
    background-color: rgba($color-customers, 0.8);
}
%bg-semi-work {
    background-color: rgba($color-work, 0.8);
}
%bg-semi-contact {
    background-color: rgba($color-contact, 0.8);
}
%bg-semi-values {
    background-color: rgba($color-values, 0.8);
}
%bg-semi-aboutus {
    background-color: rgba($color-aboutus, 0.8);
}
