$color-customers: #3399CA;
$color-work: #679A00;
$color-contact: #9868CC;
$color-values: #FF9934;
$color-aboutus: #CC0000;

%bg-customers {
    background-color: $color-customers;
}
%bg-work {
    background-color: $color-work;
}
%bg-contact {
    background-color: $color-contact;
}
%bg-values {
    background-color: $color-values;
}
%bg-aboutus {
    background-color: $color-aboutus;
}

%bg-semi-customers {
    background-color: rgba($color-customers, 0.8);
}
%bg-semi-work {
    background-color: rgba($color-work, 0.8);
}
%bg-semi-contact {
    background-color: rgba($color-contact, 0.8);
}
%bg-semi-values {
    background-color: rgba($color-values, 0.8);
}
%bg-semi-aboutus {
    background-color: rgba($color-aboutus, 0.8);
}
