$screen-multiplicator: 96px;
$screen-xs-factor: 5;
$screen-sm-factor: 6; 
$screen-md-factor: 8; 
$screen-lg-factor: 10; 

$tile-width-xs: $screen-multiplicator * $screen-xs-factor / 8; // 480px for a 480px screen
$tile-width-sm: $screen-multiplicator * $screen-sm-factor / 8; // 576px for a 768px screen
$tile-width-md: $screen-multiplicator * $screen-md-factor / 8; // 768px for a 992px screen
$tile-width-lg: $screen-multiplicator * $screen-lg-factor / 8; // 960px for a 1200px+ screen

$grid-background-color: #333333;
$tile-border-color: grey;
$tile-border-width: 1px;
$tile-fadeout-time: 1.5s;

$color-customers: #3399CA;
$color-work: #679A00;
$color-contact: #9868CC;
$color-values: #FF9934;
$color-aboutus: #CC0000;

%bg-customers {
    background-color: $color-customers;
}
%bg-work {
    background-color: $color-work;
}
%bg-contact {
    background-color: $color-contact;
}
%bg-values {
    background-color: $color-values;
}
%bg-aboutus {
    background-color: $color-aboutus;
}

%bg-semi-customers {
    background-color: rgba($color-customers, 0.8);
}
%bg-semi-work {
    background-color: rgba($color-work, 0.8);
}
%bg-semi-contact {
    background-color: rgba($color-contact, 0.8);
}
%bg-semi-values {
    background-color: rgba($color-values, 0.8);
}
%bg-semi-aboutus {
    background-color: rgba($color-aboutus, 0.8);
}

@media (max-width: $screen-sm-max) {
	$font-size-base: 11px;
	body {
		font-size: $font-size-base;
	}
	h2 {
		margin-top: 3px;
		font-size: floor(($font-size-base * 2.15));
	}
	h5 {
		margin-top: 10px;
		font-size: $font-size-base;
	}
	.btn {
		font-size: $font-size-base;
	}
}