<h2>Leistungsspektrum</h2>
<div class="content-scroller">
	<ul>
		<li>Alle Anstricharbeiten Innen und Außen</li>
		<li>Exklusives Oberflächendesign</li>
		<li>Hochwertigste Tapezierungen</li>
		<li>Lackierungen und Lacktechniken</li>
		<li>Alte Oberflächentechniken</li>
		<li>Fußbodenbeschichtungen</li>
		<li>Teppichböden</li>
		<li>Fassadengestaltung / Außenputzarbeiten</li>
		<li>Eigenes Gerüst</li>
		<li>Wärmedämmung</li>
		<li>Holzschutz</li>
		<li>Denkmalschutz</li>
		<li>Betonschutz und Betonsanierung</li>
		<li>Möbelrestauration</li>
	</ul>
</div>